@import 'variables.scss';


.App {
  text-align: center;
}
.header{
  background-color: $bg_color;
  margin-top: 10px;
  
}
.BACK{
  background-image: url("./images/banner.png"), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
  // background-image: url(./images/banner.png), linear-gradient(rgb(106 66 186 / 71%), rgb(117 172 172 / 78%));
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  border: 7px solid #f8f9fa;

}
.main{
  height: 500px;
}
.BACK h2{
  text-align: center;
  margin-top: 10%;
  color: #b7cbe0;
  font-weight: bolder;
 
}
.font{
  
    text-align: center;
    font-size: 28px;

}
.BACK1{
  // background-image: url("./images/banner.png"), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  
  background-image: url("./images/background.jpg"),linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  background-blend-mode: overlay;
 height: 300px;
  background-size: cover;
  background-position: center;
  border: 7px solid #f8f9fa; 
}
.BACK1 h1{
  text-align: center;

  color: rgb(240, 229, 236);
  
}
.rowheight{
  height: 200px;
}
.BACK2{
  
  background-image: url("./images/about.jpg"),linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  border: 7px solid #f8f9fa; 
}
.style{
  
  text-align: center;

  color: rgb(240, 229, 236);
}
.BACK3{
  background-image: url("./images/basketball.png"),linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  background-blend-mode: overlay;
  background-position: center;
 
  background-size: cover;
  border: 7px solid #f8f9fa; 
}
.BACK5{
  background-image: url("./images/.png"),linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  background-blend-mode: overlay;
  background-position: center;
 
  background-size: cover;
  border: 7px solid #f8f9fa; 
}
.tabs{
  color: $color;
  font-size: 15px;
  text-align: center;
}
.button-hndl{
  width: 80%;
}
.line{
  border-bottom: 2px solid;
}
.height{
  height:240px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.cont{
  width: $width;
  height: $height;
  border:$border;
}
.btn {
  width: 200px;
  height: 50px;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 20px;
  background: rgb(199, 102, 23);
  border: none;
&:hover {
    background: rgb(236, 36, 103);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:$primary-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:$secondary_color;
}
h1{
  color:$primary-color;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
