@import 'variables.scss';


.App {
  text-align: center;
}
.header{
  background-color: $bg_color;
  margin-top: 10px;
  
}
.BACK{
  background-image: url(./images/banner.png);
  width: 33%;
  background-size: contain;
  border: 7px solid #f8f9fa;
}
.BACK h2{
  text-align: center;
  margin-top: 10%;
  color: rgb(235, 22, 153);
  font-weight: bolder;
  font-size: 18px;
}
.BACK1{
  background-image: url(./images/background.jpg);
 
  background-size: contain;
  border: 7px solid #f8f9fa; 
}
.BACK1 h1{
  text-align: center;

  color: rgb(240, 229, 236);
  
}
.BACK2{
  background-image: url(./images/about.jpg);
 width: 50%;
  background-size: contain;
  border: 7px solid #f8f9fa; 
}
.BACK3{
  background-image: url(./images/basketball.png);
 width: 50%;
 
  background-size: contain;
  border: 7px solid #f8f9fa; 
}
.tabs{
  color: $color;
  font-size: 15px;
  text-align: center;
}
.button-hndl{
  width: 80%;
}
.line{
  border-bottom: 2px solid;
}
.height{
  height:240px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.cont{
  width: $width;
  height: $height;
  border:$border;
}
.btn {
  width: 200px;
  height: 50px;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 20px;
  background: rgb(199, 102, 23);
  border: none;
&:hover {
    background: rgb(236, 36, 103);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:$primary-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:$secondary_color;
}
h1{
  color:$primary-color;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
